.products {
  text-align: center;
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__title {
  margin-bottom: 144px;
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
  }
}
.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
  }
  @media screen and (min-width: 1280px) {
    gap: 30px;
  }
}
.product-list__item {
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
  position: relative;
  display: block;
  border-radius: 24px;
  text-align: center;
  padding-top: 161px;
  padding-bottom: 41px;
  @media screen and (max-width: 767px) {
    max-width: 330px;
    &:not(:last-child) {
      margin-bottom: 150px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 152px;
    padding-bottom: 40px;
    flex-basis: calc((100% -20 px * 2) / 3);
  }
  @media screen and (min-width: 1280px) {
    padding-top: 163px;
    padding-bottom: 50px;
    flex-basis: calc((100% -20 px * 2) / 3);
  }
  &::before {
    content: '';
    outline: 1px solid violet;
    position: absolute;
    top: -113px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 249px;
    height: 252px;
    @media screen and (min-width: 768px) {
      top: -104px;
      width: 220px;
      height: 223px;
    }
    @media screen and (min-width: 1280px) {
      top: -210px;
      width: 330px;
      height: 335px;
    }
  }
}
.product-list__item--pink {
  background-color: var(--accent-color);
  &::before {
    background-image: url('../images/products/mobile/mobile-pic1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @media screen and (min-width: 768px) {
      background-image: url('../images/products/tablet/tablet-pic1.png');
    }
    @media screen and (min-width: 1280px) {
      background-image: url('../images/products/desktop/desktop-pic1.png');
    }
  }
}
.product-list__item--orange {
  background-color: var(--bg-flesh-color);
  &::before {
    background-image: url('../images/products/mobile/mobile-pic2.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
.product-list__item--green {
  background-color: var(--bg-green-color);
  &::before {
    background-image: url('../images/products/mobile/mobile-pic3.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
.product-list__title {
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  // @media screen and (min-width: 768px) {

  // }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 30px;
  }
}
.circle--white {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 6px;
  height: 6px;
  background-color: var(--white-color);
  border-radius: 50%;
  margin-bottom: 30px;
  &::before {
    content: '';

    flex-shrink: 0;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    background-color: var(--white-color);
    border-radius: 50%;
  }
  &::after {
    content: '';
    flex-shrink: 0;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    background-color: var(--white-color);
    border-radius: 50%;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}
.product-list__text {
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
  max-width: 200px;

  @media screen and (min-width: 768px) {
    max-width: 198px;
    height: 124px;
    overflow: auto;
    line-height: 1.76;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 250px;
    height: 102px;
    font-size: 16px;
    margin-bottom: 62px;
  }
}
.product-list__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--white-color);
  border-color: transparent;
  border-radius: 50%;
}
.product-list__icon {
  fill: var(--title-color);
}
.scrollbar--pink {
  $scrollbar-track-color-pink: #fa99b1;
  $scrollbar-bg-color-pink: #f153a2;
  $scrollbar-color-pink: #e01f7f;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $scrollbar-track-color-pink;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-bg-color-pink;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-color-pink;
  }
}
.scrollbar--orange {
  $scrollbar-track-color-orange: #ebc38c;
  $scrollbar-bg-color-orange: #f0b25b;
  $scrollbar-bg-hover-color-orange: #df9124;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $scrollbar-track-color-orange;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-bg-color-orange;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-bg-hover-color-orange;
  }
}
.scrollbar--green {
  $scrollbar-track-color-green: #9fce62;
  $scrollbar-bg-color-green: #85b941;
  $scrollbar-bg-hover-color-green: #558a11;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $scrollbar-track-color-green;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-bg-color-green;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-bg-hover-color-green;
  }
}
