.section-paragraph-bold {
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;

  &--tablet {
    font-size: 14px;
    line-height: 1.76;
  }

  &--desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}
