:root {
  --accent-color: #ffb8ca;
  --title-color: #d41443;
  --white-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --bg-pale-color: #fff5f6;
  --bg-green-color: #c2e297;
  --bg-flesh-color: #f0d1a5;
  --bg-pink-color: #fff5f6;
  --accent-secondary-color: #ffa5ba;
  --border-color: #e1e1e1;
}
