.section {
  &__label {
    font-size: 18px;
    line-height: 1.2;
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 30px;
    }
  }

  &__title {
    font-size: 34px;
    line-height: 1.14;
    color: var(--title-color);

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      letter-spacing: 0.06em;
    }
  }
}

.section-contacts {
  padding-bottom: 56px;
  background-color: var(--bg-pink-color);

  @media screen and (min-width: 768px) {
    padding-bottom: 79px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 82px;
    background-image: url(../images/contacts/bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url(../images/contacts/bg@2x.png);
    }
  }
}

.section-review {
  padding-top: 40px;
  padding-bottom: 170px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 200px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 234px;
  }
}
