.section {
  &__label {
    font-family: 'Titan One', cursive;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.154;
    }

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.133;
    }
  }

  &__title {
    font-family: 'Titan One', cursive;
    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.146;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.138;
      letter-spacing: 0.06em;
    }
  }
}

.section-contacts {
  padding-bottom: 56px;
  background-color: var(--bg-pink-color);

  @media screen and (min-width: 768px) {
    padding-bottom: 79px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 82px;
    background-image: url(../images/contacts/bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url(../images/contacts/bg@2x.png);
      background-repeat: no-repeat;
    }
  }
}
