<section class="about section" id="how-its-made">
  <div class="container">
    <p class="about__before-title section__label">tradition and love</p>
    <h2 class="about__title section__title">How it's made?</h2>
    <div class="about__main-block">
      <picture class="about__image">
        <source srcset="./images/about/des-img.png 1x, ./images/about/des-img@2x.png 2x" media="(min-width: 1280px)" />
        <source srcset="./images/about/tab-img.png 1x, ./images/about/tab-img@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="./images/about/mob-img.png 1x, ./images/about/mob-img@2x.png 2x" media="(max-width: 767px)" />
        <img src="./images/about/mob-img.png" alt="Jug of milk and a cow" width="280" height="280" />
      </picture>
      <div class="about__description-block ">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__description">Aliquam erat volutpat. Aenean accumsan.</p>
        <button data-open-modal class="about__btn btn btn--secondary">Read more
          <svg class="about__icon icon">
            <use href="./images/sprite.svg#icon-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="backdrop is-hidden" data-backdrop>
    <div class="about__modal">

      <p class="about__modal-label section__label">Most important Question</p>
      <h3 class="about__modal-title section__title">Who Made It?</h3>
      <div class="gallery">
        <div class="gallery__item">
          <button data-close-modal type="button" class="btn btn--primary about__modal-close">
            X
          </button>
          <input type="radio" id="img-1" checked name="gallery" class="gallery__selector" />
          <img class="gallery__img" src="./images/about/aleksandr.jpg" alt="Team Lead" />
          <label for="img-1" class="gallery__thumb"><img src="./images/about/aleksandr-min.jpg"
              alt="Team Lead" /></label>
        </div>
        <div class="gallery__item">
          <input type="radio" id="img-2" name="gallery" class="gallery__selector" />
          <img class="gallery__img" src="./images/about/liza.jpg" alt="Scrum Master" />
          <label for="img-2" class="gallery__thumb"><img src="./images/about/liza-min.jpg" alt="Scrum Master" /></label>
        </div>
        <div class="gallery__item">
          <input type="radio" id="img-3" name="gallery" class="gallery__selector" />
          <img class="gallery__img" src="./images/about/daniel.jpg" alt="" />
          <label for="img-3" class="gallery__thumb"><img src="./images/about/daniel-min.jpg" alt="" /></label>
        </div>
        <div class="gallery__item">
          <input type="radio" id="img-4" name="gallery" class="gallery__selector" />
          <img class="gallery__img" src="./images/about/vika.jpg" alt="" />
          <label for="img-4" class="gallery__thumb"><img src="./images/about/vika-min.jpg" alt="" /></label>
        </div>
        <div class="gallery__item">
          <input type="radio" id="img-5" name="gallery" class="gallery__selector" />
          <img class="gallery__img" src="./images/about/slava.jpg" alt="" />
          <label for="img-5" class="gallery__thumb"><img src="./images/about/slava-min.jpg" alt="" /></label>
        </div>
        <div class="gallery__item">
          <input type="radio" id="img-6" name="gallery" class="gallery__selector" />
          <img class="gallery__img" src="./images/about/tanya.jpg" alt="" />
          <label for="img-6" class="gallery__thumb"><img src="./images/about/tanya-min.jpg" alt="" /></label>
        </div>
      </div>
    </div>
  </div>

</section>