<section class="about section">
  <div class="container">
    <p class="about__before-title section__label">tradition and love</p>
    <h2 class="about__title section__title">How it's made?</h2>
    <div class="about__main-block">
      <picture class="about__image">
        <source srcset="./images/about/des-img.png 1x, ./images/about/des-img@2x.png 2x" media="(min-width: 1200px)" />
        <source srcset="./images/about/tab-img.png 1x, ./images/about/tab-img@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="./images/about/mob-img.png 1x, ./images/about/mob-img@2x.png 2x" media="(max-width: 767px)" />
        <img src="./images/about/mob-img.png" alt="Jug of milk and a cow" width="280" height="280" />
      </picture>
      <div class="about__description-block">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__description">Aliquam erat volutpat. Aenean accumsan.</p>
      </div>
    </div>
    <a class="about__btn btn btn--secondary">Read more
      <svg class="about__icon icon">
        <use href="./images/sprite.svg#icon-btn"></use>
      </svg>
    </a>
  </div>
</section>