<!-- =======advantages======= -->
<section class="advantages__section">
  <div class="container">
    <h2 class="visually-hidden">Advantages Section</h2>
    <ul class="advantages__list list">
      <li class="advantages__item advantages__item-one">
        <h4 class="advantages__title">721</h4>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__item-two">
        <h4 class="advantages__title">16kg</h4>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__item-tree">
        <h4 class="advantages__title">84</h4>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
