<section class="advantages__section">
  <div class="container">
    <h2 class="visually-hidden">Advantages Section</h2>
    <ul class="advantages__list list">
      <li class="advantages__item advantages__item-one">
        <h3 class="advantages__title section__title">721</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__item-two">
        <h3 class="advantages__title section__title">16kg</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__item-three">
        <h3 class="advantages__title section__title">84</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
