<footer class="footer">
  <div class="container">
    <div class="wrapper-up">
      <p class="footer__text-duplicate pseudo-heading section__title">
        <span class="footer__text-duplicate--dark section__label">homemade ice cream made</span>
        with passion
      </p>

      <address class="footer-address">
        <ul class="socials-list list">
          <li class="socials-list__item">
            <a
              href="https://github.com/"
              class="socials-list__link link"
              target="_blank"
              aria-label="github"
            >
              <svg class="socials-list__icon icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list__item">
            <a
              href="https://web.telegram.org/"
              class="socials-list__link link"
              target="_blank"
              aria-label="telegram"
            >
              <svg class="socials-list__icon icon">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list__item">
            <a
              href="https://www.facebook.com/"
              class="socials-list__link link"
              target="_blank"
              aria-label="facebook"
            >
              <svg class="socials-list__icon icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-address__text">
          Feel free to contact
          <a href="tel:+610383766284" class="footer-address__link link">+61 (0) 383 766 284</a>
        </p>
      </address>
    </div>

    <p class="footer__text">&#xa9; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
