<footer class="footer">
  <div class="container">
    <p class="footer__text--pink"><span>homemade ice cream made</span> with passion</p>
    <div class="wrapper-socials">
      <ul class="socials-list list">
        <li class="socials-list__item">
          <a href="https://github.com/" class="socials-list__link link" aria-label="github">
            <svg class="socials-list__icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a href="https://web.telegram.org/" class="socials-list__link link" aria-label="telegram">
            <svg class="socials-list__icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a href="https://www.facebook.com/" class="socials-list__link link" aria-label="facebook">
            <svg class="socials-list__icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer__text">&#xa9; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
