<section class="pictures section">
  <div class="container">
    <h2 class="visually-hidden">Gallery Section</h2>
    <div id="gallery" class="gallerys" role="gallery">
      <div class="gallerys__item sizer1" role="gallery-item">
        <img
          class="gallerys__image"
          src="./images/gallery/img1.jpg"
          alt="Icecream"
          width="40"
          height="40"
        />
        <div class="gallerys__cover-item">
          <img
            class="gallerys__image"
            src="./images/gallery/vika.jpg"
            alt="Vika"
            width="40"
            height="40"
          />
        </div>
      </div>
      <div class="gallerys__block">
        <div class="gallerys__item sizer2" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img2.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/tanya.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
        <div class="gallerys__item sizer3" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img3.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/vika.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
      </div>
      <div class="gallerys__block gallerys__block--big">
        <div class="gallerys__item sizer4 stamp" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img4.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/tanya.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
        <div class="gallerys__item sizer5" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img5.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/vika.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
      </div>
      <div class="gallerys__block gallerys__block--bottom">
        <div class="gallerys__item sizer6" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img6.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/tanya.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
        <div class="gallerys__item sizer7" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img7.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/vika.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
      </div>
      <div class="gallerys__block">
        <div class="gallerys__item sizer8" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img8.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/tanya.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
        <div class="gallerys__item sizer9" role="gallery-item">
          <img
            class="gallerys__image"
            src="./images/gallery/img9.jpg"
            alt="Icecream"
            width="40"
            height="40"
          />
          <div class="gallerys__cover-item">
            <img
              class="gallerys__image"
              src="./images/gallery/vika.jpg"
              alt="Vika"
              width="40"
              height="40"
            />
          </div>
        </div>
      </div>
      <div class="gallerys__item sizer10" role="gallery-item">
        <img
          class="gallerys__image"
          src="./images/gallery/img10.jpg"
          alt="Icecream"
          width="40"
          height="40"
        />
        <div class="gallerys__cover-item">
          <img
            class="gallerys__image"
            src="./images/gallery/tanya.jpg"
            alt="Vika"
            width="40"
            height="40"
          />
        </div>
      </div>
    </div>
  </div>
</section>
