<header class="header">
  <div class="container header__container">
    <a class="logo link" href="./index.html">
      <svg class="logo__icon" width="50" height="50">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo__title pseudo-heading">IceCream</span>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item list">
          <a class="nav__link link active" href="./index.html">Home</a>
        </li>
        <li class="nav__item list">
          <a class="nav__link link" href="#our-products">Our products</a>
        </li>
        <li class="nav__item list">
          <a class="nav__link link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="nav__item list"><a class="nav__link link" href="#about">About us</a></li>
        <li class="nav__item list"><a class="nav__link link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="header__right">
      <button
        class="header__open"
        data-modal-open
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="mobile menu switcher"
        type="button"
      >
        <svg class="btn-modal__icon-burger" width="20" height="12">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <button class="btn btn--secondary header-m__buy header-m__buy--tablet" type="button">
        <span class="header-m__buy-text"> Buy now </span>
        <svg class="header-m__buy-icn" width="7" height="10">
          <use href="./images/sprite.svg#icon-modal_btn"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- Мобильное меню -->
  <div class="backdrop is-hidden" data-modal>
    <div class="header-m" id="mobile-menu">
      <button
        class="header-m__close"
        type="button"
        data-modal-close
        aria-controls="mobile-menu"
        aria-label="mobile menu switcher"
      >
        <svg class="menu-btn__icon-close" width="14" height="14">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button class="btn btn--secondary header-m__buy" type="button">
        <span class="header-m__buy-text"> Buy now </span>
        <svg class="header-m__buy-icn" width="7" height="10">
          <use href="./images/sprite.svg#icon-modal_btn"></use>
        </svg>
      </button>
      <ul class="header-m__list list">
        <li class="header-m__item"><a class="link active" href="#">Home</a></li>
        <li class="header-m__item"><a class="link" href="#our-products">Our products</a></li>
        <li class="header-m__item"><a class="link" href="#how-its-made">How it’s made?</a></li>
        <li class="header-m__item"><a class="link" href="#about">About us</a></li>
        <li class="header-m__item"><a class="link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
