<header class="test">
  <span>Оригинал</span>
  <svg class="test-svg" height="46" width="32">
    <use href="./images/sprite.svg#icon-Burger"></use>
  </svg>
  <svg class="test-svg" height="32" width="32">
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>

  <span>Оптимизация</span>
  <svg class="test-svg" height="46" width="32">
    <use href="./images/sprite-optimal.svg#icon-Burger"></use>
  </svg>
  <svg class="test-svg" height="32" width="32">
    <use href="./images/sprite-optimal.svg#icon-close"></use>
  </svg>
</header>
