<div class="backdrop">
  <div class="modal">
    <button class="modal__btn-close" type="button">
      <svg>
        <use></use>
      </svg>
    </button>
    <p class="modal__title section__title">Create Your Ice-Dream!</p>

    <form action="#">
      <p class="modal__title section__title">Create Your Ice-Dream!</p>
      <label><input type="text" name="username" />Your name</label>
      <label><input type="number" name="phone-number" />Your phone</label>
      <label><input type="text" name="e-mail" />Your e-mail</label>
      <label><textarea name="users order"></textarea>Your order</label>
      <label><input type="checkbox" /></label>
      <label>
        <input type="text" /> Quam, <span><a href="">laboriosam quaerat!</a></span>
      </label>
    </form>
  </div>
</div>
