<div class="backdrop-products backdrop-products--is-hidden" data-modal-products-pink>
  <div class="modal-products modal-products--pink">
    <button type="button" class="btn-product__close" data-modal-products-pink-close>
      на главную
    </button>
    <h3 class="product-list__title">ice cream</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur architecto excepturi
      maiores id, repellat, reiciendis sit animi, libero accusamus non nesciunt tenetur temporibus
      quae a! Laboriosam possimus magni qui maiores non voluptates commodi pariatur, ipsa labore
      natus incidunt deleniti sunt atque dolorum ullam iste autem quia accusantium voluptas, numquam
      voluptatum.
    </p>
  </div>
</div>

<div class="backdrop-products backdrop-products--is-hidden" data-modal-products-orange>
  <div class="modal-products modal-products--orange">
    <button type="button" class="btn-product__close" data-modal-products-orange-close>
      на главную
    </button>
    <h3 class="product-list__title">ice coffee</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur architecto excepturi
      maiores id, repellat, reiciendis sit animi, libero accusamus non nesciunt tenetur temporibus
      quae a! Laboriosam possimus magni qui maiores non voluptates commodi pariatur, ipsa labore
      natus incidunt deleniti sunt atque dolorum ullam iste autem quia accusantium voluptas, numquam
      voluptatum.
    </p>
  </div>
</div>

<div class="backdrop-products backdrop-products--is-hidden" data-modal-products-green>
  <div class="modal-products modal-products--green">
    <button type="button" class="btn-product__close" data-modal-products-green-close>
      на главную
    </button>
    <h3 class="product-list__title">milkshakes</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur architecto excepturi
      maiores id, repellat, reiciendis sit animi, libero accusamus non nesciunt tenetur temporibus
      quae a! Laboriosam possimus magni qui maiores non voluptates commodi pariatur, ipsa labore
      natus incidunt deleniti sunt atque dolorum ullam iste autem quia accusantium voluptas, numquam
      voluptatum.
    </p>
  </div>
</div>
