<div class="backdrop-products backdrop-products--is-hidden" data-modal-products-pink>
  <div class="modal-products modal-products--pink scrollbar-modal">
    <button type="button" class="btn-products__close" data-modal-products-pink-close>yummy</button>
    <h3 class="modal-products__title product-list__title">ice cream</h3>
    <p class="modal-products__text">
      Creamy ice cream is a delicacy that is very popular in almost everything the world. This
      chilled dessert is made with milk and cream.
    </p>
    <span class="modal-products__circle circle--white"></span>
    <h4 class="modal-products__title">Useful properties</h4>
    <span class="modal-products__circle circle--white"></span>
    <p class="modal-products__text">
      The benefits of ice cream are due to the rich composition of vitamins and minerals. There is
      in this dessert phosphorus, which is actively involved in protein synthesis and in the
      formation of bone and muscle tissue.
    </p>
    <p class="modal-products__text">
      This product contains a large amount of calcium, which strengthens and improves the condition
      of hair, nails, teeth and bones. Thanks to potassium, which is also in creamy ice cream, the
      activity of the cardiovascular system is normalized.
    </p>
  </div>
</div>

<div class="backdrop-products backdrop-products--is-hidden" data-modal-products-orange>
  <div class="modal-products modal-products--orange scrollbar-modal">
    <button type="button" class="btn-products__close" data-modal-products-orange-close>
      yummy
    </button>
    <h3 class="modal-products__title product-list__title">ice coffee</h3>
    <p class="modal-products__text">
      Iced coffee is the perfect solution to the problem. You are drinking your favorite drink and
      it is a great thirst quencher. Coffee with ice cream began to be prepared in the 19th century
      in Austria, then the recipe with changes migrated to Italy and France, after which it spread
      throughout the world.
    </p>
    <span class="modal-products__circle circle--white"></span>
    <h4 class="modal-products__title">Choice of flavors</h4>
    <span class="modal-products__circle circle--white"></span>
    <p class="modal-products__text">
      Glase is a popular espresso-based coffee drink with the addition of ice cream. The name of
      this cold dessert is French, but it is believed that the drink was invented in Austria.
    </p>
    <p class="modal-products__text">
      In Italy, a popular dessert called affogato is a ball of ice cream poured with strong hot
      coffee. The composition of the dessert often includes liqueur or cognac. You can use a
      high-quality ice cream, but there are lovers who choose chocolate or nut ice cream.
    </p>
  </div>
</div>

<div class="backdrop-products backdrop-products--is-hidden" data-modal-products-green>
  <div class="modal-products modal-products--green scrollbar-modal">
    <button type="button" class="btn-products__close" data-modal-products-green-close>yummy</button>
    <h3 class="modal-products__title product-list__title">milkshakes</h3>
    <p class="modal-products__text">
      Can you offer something better in the hot summer season than a cool, refreshing milkshake?
      After all, this is what both children and adults love.
    </p>
    <span class="modal-products__circle circle--white"></span>
    <h4 class="modal-products__title">This is your smile</h4>
    <span class="modal-products__circle circle--white"></span>
    <p class="modal-products__text">
      Just in case, we note: milk necks are similar to milk smoothies, but, at the same time, there
      are differences between them. An essential ingredient in a smoothie is fruit, which contains
      vitamins and minerals (since smoothies are designed for a healthy diet).
    </p>
    <p class="modal-products__text">
      Milk necks are more for those with a sweet tooth than for fans of healthy eating. Ice, ice
      cream, chocolate are added to the milk necks, and they are also decorated with whipped cream
      and marshmallows on top (which is not done in the case of smoothies).
    </p>
  </div>
</div>
