<section class="section products" id="our-products">
  <div class="container">
    <p class="section__label products__label">100% natural</p>
    <h2 class="section__title products__title">products</h2>
    <ul class="product-list list">
      <li class="product-list__item product-list__item--pink">
        <h3 class="product-list__title">ice cream</h3>
        <span class="circle--white"></span>
        <p class="product-list__text scrollbar--pink">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          class="product-list__btn product-list__btn--pink"
          type="button"
          data-modal-products-pink-open
        >
          <svg class="product-list__icon" width="11" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="product-list__item product-list__item--orange">
        <h3 class="product-list__title">ice coffee</h3>
        <span class="circle--white"></span>
        <p class="product-list__text scrollbar--orange">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          class="product-list__btn product-list__btn--orange"
          type="button"
          data-modal-products-orange-open
        >
          <svg class="product-list__icon" width="11" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="product-list__item product-list__item--green">
        <h3 class="product-list__title">milkshakes</h3>
        <span class="circle--white"></span>
        <p class="product-list__text scrollbar--green">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          class="product-list__btn product-list__btn--green"
          type="button"
          data-modal-products-green-open
        >
          <svg class="product-list__icon" width="11" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
