<section class="section section-review">
  <div class="container">
    <h2 class="section__title visually-hidden">Customer Reviews Section</h2>

    <div class="review-slider">
      <div class="swiper mySwiper review-list" role="list">
        <div class="swiper-wrapper">
          <div class="swiper-slide review-list__item" role="listitem">
            <img src="./images/review/img1.png" alt="" class="review-list__img" />
            <div class="review-list__info">
              <p class="review-list__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <span class="review-list__dot"></span>
            <p class="review-list__person">Emily, Los Angeles</p>
          </div>
          <div class="swiper-slide review-list__item" role="listitem">
            <img src="./images/review/img2.png" alt="" class="review-list__img" />
            <div class="review-list__info">
              <p class="review-list__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <span class="review-list__dot"></span>
            <p class="review-list__person">Sarah, New York</p>
          </div>
          <div class="swiper-slide review-list__item" role="listitem">
            <img src="./images/review/img3.png" alt="" class="review-list__img" />
            <div class="review-list__info">
              <p class="review-list__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <span class="review-list__dot"></span>
            <p class="review-list__person">Latasha, Hawaii</p>
          </div>
        </div>
        <div class="swiper-pagination" role="radiogroup" aria-label="review switcher"></div>
      </div>
    </div>
  </div>
</section>
