@import './logo';

.header {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--accent-color);
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    @media screen and (min-width: 768px) {
      padding-top: 35px;
    }
  }
  &__open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
    z-index: 5;
    @media screen and (min-width: 1280px) {
      display: none;
    }
    &:hover .btn-modal__icon-burger {
      stroke: var(--white-color);
    }
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.btn-modal__icon-burger {
  stroke: var(--title-color);
}

// Мобильное меню
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50;
  opacity: 1;
  transition: opacity var(--anim-props);
}
.backdrop.is-hidden .header-m {
  transform: translateX(100%);
}

.header-m {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg-modal);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px 20px;
  max-width: 250px;
  height: 100vh;
  z-index: 51;
  transform: translateX(0%);
  transition: transform var(--anim-props);
}
.header-m__close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover .menu-btn__icon-close {
    stroke: var(--primary-text-color);
  }
}
.menu-btn__icon-close {
  stroke: var(--white-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.header-m__buy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 32px;
  &:hover {
    background-color: var(--btn-secondary-hover-color);
  }
  &--tablet {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      position: relative;
      z-index: 20;
      padding-left: 35px;
      padding-right: 35px;
      width: unset;
      margin-bottom: unset;
    }
  }
}
.header-m__buy-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
}
.header-m__buy-icn {
  stroke: var(--title-color);
  margin-left: 16px;
}
.header-m__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header-m__item {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  &::before {
    position: absolute;
    display: block;
    content: '';
    top: -12px;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: var(--bg-modal-line);
  }
}
.header-m__item:last-child::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -12px;
  left: -20px;
  width: 250px;
  height: 1px;
  background-color: var(--bg-modal-line);
}
.header-m__item > .link {
  color: var(--white-color);
}
.header-m__item > .link:hover,
.header-m__item > .link:focus {
  color: var(--title-color);
}
.header-m__item > .link.active {
  color: var(--title-color);
}
