.header {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--accent-color);
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo-link {
    padding: 6px 0px;
  }
  &__open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    &:hover .btn-modal__icon-burger {
      stroke: var(--white-color);
    }
  }
}

.btn-modal__icon-burger {
  stroke: var(--title-color);
}

// Мобильное меню
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50;
  opacity: 1;
  transition: opacity var(--anim-props);
}
.backdrop.is-hidden .header-m {
  transform: translateX(100%);
}

.header-m {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e17992;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px 20px;
  max-width: 250px;
  height: 100vh;
  z-index: 51;
  transform: translateX(0%);
  transition: transform var(--anim-props);
}
.header-m__close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 188px;
  margin-right: 28px;
  margin-bottom: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover .menu-btn__icon-close {
    stroke: var(--primary-text-color);
  }
}
.menu-btn__icon-close {
  stroke: var(--white-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.header-m__buy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 32px;
  &:hover {
    background-color: #ecebeb;
  }
}
.header-m__buy-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
}
.header-m__buy-icn {
  stroke: var(--primary-text-color);
  margin-left: 16px;
}
.header-m__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header-m__item {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  &::before {
    position: absolute;
    display: block;
    content: '';
    top: -12px;
    left: -20px;
    width: 250px;
    height: 1px;
    background-color: #e18298;
  }
}
.header-m__item:last-child::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -12px;
  left: -20px;
  width: 250px;
  height: 1px;
  background-color: #e18298;
}
.header-m__item > .link {
  color: var(--white-color);
}
.header-m__item > .link:hover,
.header-m__item > .link:focus {
  color: var(--title-color);
}
.header-m__item > .link.active {
  color: var(--title-color);
}

// HERO
.hero {
  background-color: var(--accent-color);
  overflow: hidden;
  &__container {
    padding-top: 190px;
    padding-bottom: 150px;
  }
  &__title-btn {
    position: relative;
    z-index: 10;
  }
  &__title {
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(30 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
  }
  &__title-accent {
    font-size: 46px;
    color: var(--title-color);
    z-index: 3;
  }
  &__btn-group {
    display: flex;
    z-index: 3;
    gap: 8px;
  }
  &__bg-circle {
    position: absolute;
    left: 36px;
    top: 83px;
    z-index: 1;
  }
  &__ice-cream-pic {
    position: absolute;
    left: 117px;
    top: 92px;
    z-index: 6;
  }
}
.hero__btn {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: calc (10 / 8);
  display: flex;
  align-items: center;
  text-align: center;
  &--prod {
    background-color: var(--title-color);
    color: var(--white-color);
  }
  &--prod:hover,
  &--prod:focus {
    background-color: #c7133e;
  }
  &--how {
    background-color: var(--white-color);
    color: var(--title-color);
  }
  &--how:hover,
  &--how:focus {
    background-color: #ecebeb;
  }
}
